#header_title{
    background-color: cornflowerblue;
    width: 100%;
    text-align: center;
    top: 0;
    height: 500px;
}
/*大标题文字格式*/
.title_text{
    margin-top: -53px;
    position: relative;
    top: 40%;
    font-size: 80px;
    font-weight: bolder;
    color: white;
}
/*大标题下面的小字*/
.title_textExplanation{
    margin-top: -10px;
    position: relative;
    top: 30%;
    font-size: 25px;
    color: white;
}
